extends layout


include mixins/_commentTableCard

block content
  .container
    .row.text-center
      .col-lg-12
        h1 My Comments.
        table.table
          thead
            tr
              th Post
              th.text-center Comment
              th.text-right action
          tbody
            if comments.length >= 1
              each comment in comments
                +commentTableCard(comment)
            else
              .alert.alert-danger No Comment created yet!
