extends layout

include mixins/_registerUserForm

block content
  .container
    .row.text-center
      .col-lg-12
        h1 Create Account
    .row.text-center
      .col-lg-12
        +registerUserForm(body)