mixin editPost()
  form.form-signin(method="POST")
    .form-group
      input(type="hidden" name="_csrf" value=csrftoken)
      input(type="text" name="title" placeholder="Post Title").form-control
    .form-group
      textarea(name="content" rows="10" placeholder="Post Content").form-control
    .formgroup
      button.btn.btn-app.btn-block(type="submit" name="submit") Submit